<ul>
    <li><img src="../assets/img/Wheat.jpg" style="float: right; padding-right: 20px; height:50px">
    <li><a href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#Login">Login</a></li>
    <li><a href="#Contact">Contact</a></li>
  </ul>
<div class="container">
    <div class="first">
        <h1 style="font-family: fantasy; text-shadow: 2px 2px #016b0f;">Pradhan Mantri Fasal Bima Yojana</h1>
        <p>
            LTI (NSE: LTI) is a global technology consulting and digital solutions company
            helping more than 420 clients succeed in a converging world. With operations
            in 32 countries, we go the extra mile for our clients and accelerate their digital
             transformation with LTI’s Mosaic platform enabling their mobile, social, analytics,
              IoT and cloud journeys.
          </p>
          <p>
            Founded 20 years ago as the information technology arm of the Larsen & Toubro group,
            our unique heritage gives us unrivaled real-world expertise to solve the most complex
            challenges of enterprises across all industries.
          </p>
          <p>
            Each day, our team of more than 30,000 LTItes enable our clients to improve the effectiveness
            of their business and technology operations and deliver value to their customers, employees
            and shareholders.
          </p>
    </div>
    <div class="second">
        <h1>Pradhan Mantri Fasal Bima Yojana</h1>
        <p>
            LTI (NSE: LTI) is a global technology consulting and digital solutions company
            helping more than 420 clients succeed in a converging world. With operations
            in 32 countries, we go the extra mile for our clients and accelerate their digital
             transformation with LTI’s Mosaic platform enabling their mobile, social, analytics,
              IoT and cloud journeys.
          </p>
          <p>
            Founded 20 years ago as the information technology arm of the Larsen & Toubro group,
            our unique heritage gives us unrivaled real-world expertise to solve the most complex
            challenges of enterprises across all industries.
          </p>
          <p>
            Each day, our team of more than 30,000 LTItes enable our clients to improve the effectiveness
            of their business and technology operations and deliver value to their customers, employees
            and shareholders.
          </p>
    </div>
</div>


  <div class="footer">
    <p>© 2020 Larsen & Toubro Infotech Limited</p>
</div>